# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# VS Code settings
.vscode/

# macOS junk
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/
